
  .delete__btn {
    width: 80px;
    height: 30px;
    font-size: 16px;
    margin-left: 15px;
  
    background-color: #edffde;
    border: 2px solid darkseagreen;
    border-radius: 4px;
    cursor: pointer;
  }
  .delete__btn:hover,
  .delete__btn:focus {
    background-color: #c8ebae;
  }
  