.findContact__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 285px;
  height: 25px;
  font-size: 17px;
}
.findContact__input {
  width: 250px;
  height: 20px;
}
.findContact__input:focus {
  outline: none;
  border-color: aquamarine;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
